- var br = '<br />'
section.schedule-sale
  .main-wrapper
    h1.main-article НЕ ПРОБЕГИ СВОИ СКИДКИ
    .date-scale
      .date-scale__row
        .date-scale__cell.date-scale--color
          .date-scale__circle(data-aos="flip-left")
            span 10!{br}июня
            img(src="img/sales-img-2.png", alt="")
            img(src="img/sales-img-1.png", alt="")
        .date-scale__cell
          p Одежда и!{br}косметика
      .date-scale__row
        .date-scale__cell
          p Обувь и!{br}аксессуары
        .date-scale__cell.date-scale--color
          .date-scale__circle(data-aos="flip-left")
            span 11!{br}июня
            img(src="img/sales-img-4.png", alt="")
            img(src="img/sales-img-3.png", alt="")
      .date-scale__row
        .date-scale__cell.date-scale--color
          .date-scale__circle(data-aos="flip-left")
            span 12!{br}июня
            img(src="img/sales-img-6.png", alt="")
            img(src="img/sales-img-5.png", alt="")
        .date-scale__cell 
          p Товары!{br} для&nbsp;детей и!{br}электроника
